* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.container2 {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

.header {
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.header p {
    font-size: 16px;
    color: #666;
}

table {
    width: 100%;
    border-collapse: collapse;
    justify-content: space-between;
}

thead th {
    text-align: left;
    padding: 10px;
    background-color: #f5f5f5;
    color: #333;
    font-weight: bold;
}

tbody td {
    padding: 10px;
    border-top: 1px solid #ddd;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #e0e0e0;
}

.status {
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    display: inline-block;
}
.disponivel {
    background-color: #4CAF50;
}
.btn{
    display: flex;
    justify-content: flex-end;
}
td{
    color: black;
}