*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    color: #f0f0f0;
}

h2 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    background-color: #2A2A2A;
    height: 20px;

}

nav li{
    text-decoration: none;
    font-size: 15px;
}
nav img{
    width: 100px
}

a{
    color: inherit;
    padding-bottom: 3px;
}

a:hover{
    border-bottom:3px solid;
}


.social{
    display: flex;
    gap: 10px;
}

.social i{
    font-size: 1.5rem;
}

.menu{
    display: flex;
    list-style: none;
    color: inherit;
    font-size: large;
    gap:30px;
}
.logo{
    margin-left: 20px;
}

.menu{
    margin-right: 20px;
}
.primeira{
    width: 100%;
    height: 550px;
}
.primeira img{
    height: 100%;
    width: 100%;
}
.primeira2{
    width: 100%;
    height: 300px;
}
.primeira2 img{
    height: 100%;
    width: 100%;
}




