.segunda{
    display: flex;
    justify-content: center;
}
.quadras{
    margin-top: 60px;
}

h1{
    color:black;
    font-size: 40px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.selection-container {
    text-align: center;
}

h2 {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.selection-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}
.selection-container h2 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.option {
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid #ccc;
    background-color: white;
    color: #555;
    cursor: pointer;
    font-size: 16px;
}

.option.active {
    background-color: #00137F;
    color: white;
    border: none;
}

.option:hover {
    background-color: #f0f0f0;
}

.selection-menu::before,
.selection-menu::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: #ddd;
}

